theme "catppuccin-latte"
default_shell "bash"
pane_frames true
default_layout "dev"
mouse_mode true
scroll_buffer_size 10000
copy_on_select true

keybinds clear-defaults=true {
    normal {
        bind "Alt n" { NewPane; }
        bind "Alt t" { NewTab; }
        bind "Alt x" { CloseFocus; }
        bind "Alt q" { Quit; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
    }
}
